@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>Meu nome é : @ViewData["Aluno"] </p>

<address>
    Meu E-mail é: <a href="#"> @ViewData["Email"] </a> 
</address>
